
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
    color: #333;
    align-items: center;
}

header {
    background-color: #663399;
    color: white;
    text-align: center;
    padding: 20px;
}

.features {
    padding: 20px;
}

.features ul {
    list-style-type: disc;
    margin-left: 20px;
    color: #663399;
}

.auctions {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    background-color: #f9f9f9;
    padding: 20px;
}

.auction-list li {
    border: 1px solid #e0e0e0;
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
    display: flex;
    align-items: center; 
    justify-content: center; 
    transition: transform 0.3s, box-shadow 0.3s; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.auction-list li:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.auction-list img {
    width: 100px; 
    margin-right: 20px; 
}

.auction-list h3 {
    margin: 0;
    color: #663399;
}

.auction-list p {
    margin: 5px 0;
    color: #777;
}

button {
    padding: 8px 15px;
    background-color: #663399;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #542b7b;
}

footer {
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 10px;
    background-color: #663399;
    color: white;
}
#timer {
    font-size: 18px;
    margin-top: 20px;
    color: #663399;
  }